---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Card } from '~/types';

interface Props {
  title: string;
  description?: string;
  content: Card[];
  columns?: number;
  isAfterContent?: boolean;
  id?: string;
  isDark?: boolean;
  classes?: Record<string, string>;
  containerClasses?: string;
}

const {
  title,
  content,
  columns = 3,
  isAfterContent = false,

  id,
  isDark = false,
  classes = {},
  containerClasses,
} = Astro.props as Props;
---

<div class={`${containerClasses ?? ''}`}>
  <WidgetWrapper
    id={id}
    isDark={isDark}
    containerClass={`max-w-7xl mx-auto ${isAfterContent ? 'pt-0 md:pt-0 lg:pt-0' : ''} ${classes?.container ?? ''}`}
  >
    <h2
      class="leading-tighter text-heading mb-12 font-heading text-3xl font-bold tracking-tighter text-primary md:text-4xl"
    >
      {title}
    </h2>

    <div class="mx-auto max-w-7xl">
      {
        Array.isArray(content) ? (
          <div class={`grid grid-cols-1 md:grid-cols-${columns} gap-8`}>
            {content.map((item) => (
              <div class="col-span-1 flex h-full flex-col overflow-hidden">
                <div class="aspect-[16/9] w-full overflow-hidden rounded-lg">
                  <img src={item.image.src} alt={item.image.alt || ''} class="h-full w-full object-cover" />
                </div>
                <div class="flex flex-grow flex-col">
                  <h3 class="text-heading mb-2 mt-4 font-heading text-xl font-semibold text-primary md:text-2xl">
                    {item.title}
                  </h3>
                  <p class="flex-grow text-muted">{item.description}</p>
                  {item.cta && (
                    <a href={item.cta.href} class="mt-4 inline-block text-primary hover:underline">
                      {item.cta.text}
                    </a>
                  )}
                </div>
              </div>
            ))}
          </div>
        ) : (
          <div>Error: Content must be an array</div>
        )
      }
    </div>
  </WidgetWrapper>
</div>
