---
import { Icon } from 'astro-icon/components';
import Logo from '~/components/Logo.astro';
import ToggleTheme from '~/components/common/ToggleTheme.astro';
import ToggleMenu from '~/components/common/ToggleMenu.astro';
import Button from '~/components/ui/Button.astro';

// import { getHomePermalink } from '~/utils/permalinks';
import { trimSlash, getAsset } from '~/utils/permalinks';
import { createLanguageSwitchUrl } from '~/navigation.ts';

import type { CallToAction } from '~/types';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface MenuLink extends Link {
  links?: Array<MenuLink>;
}

export interface Props {
  homeLink?: string;
  lang?: string;
  id?: string;
  links?: Array<MenuLink>;
  actions?: Array<CallToAction>;
  isSticky?: boolean;
  isDark?: boolean;
  isFullWidth?: boolean;
  showToggleTheme?: boolean;
  showRssFeed?: boolean;
  position?: string;
}

const {
  id = 'header',
  homeLink = '/it',
  lang = 'it',
  links = [],
  actions = [],
  isSticky = false,
  isDark = false,
  isFullWidth = false,
  showToggleTheme = false,
  showRssFeed = false,
  position = 'center',
} = Astro.props;

const currentPath = `/${trimSlash(new URL(Astro.url).pathname)}`;

const switchToItUrl = createLanguageSwitchUrl(currentPath, 'it');
const switchToEnUrl = createLanguageSwitchUrl(currentPath, 'en');
---

<header
  class:list={[
    { sticky: isSticky, relative: !isSticky, dark: isDark },
    'top-0 z-40 mx-auto w-full flex-none border-b border-gray-50/0 transition-[opacity] ease-in-out',
  ]}
  {...isSticky ? { 'data-aw-sticky-header': true } : {}}
  {...id ? { id } : {}}
>
  <div class="absolute inset-0"></div>
  <div
    class:list={[
      'relative mx-auto w-full px-3 py-3 text-default lg:px-6',
      {
        'lg:flex lg:justify-between': position !== 'center',
      },
      {
        'lg:grid lg:grid-cols-3 lg:items-center': position === 'center',
      },
      {
        'max-w-7xl': !isFullWidth,
      },
    ]}
  >
    <div class:list={[{ 'mr-auto rtl:ml-auto rtl:mr-0': position === 'right' }, 'flex justify-between']}>
      <a class="flex items-center" href={homeLink}>
        <Logo />
      </a>
      <div class="flex items-center lg:hidden">
        <ToggleMenu />
      </div>
    </div>
    <nav
      class="hidden w-full items-center overflow-y-auto overflow-x-hidden text-primary lg:mx-5 lg:flex lg:w-auto lg:justify-self-center lg:overflow-x-auto lg:overflow-y-visible"
      aria-label="Main navigation"
    >
      <ul
        class="flex w-full flex-col text-xl font-medium tracking-[0.01rem] lg:w-auto lg:flex-row lg:justify-center lg:self-center lg:text-[0.9375rem]"
      >
        {
          links.map(({ text, href, links }) => (
            <li class={links?.length ? 'dropdown' : ''}>
              {links?.length ? (
                <>
                  <button
                    type="button"
                    class:list={[
                      'flex items-center whitespace-nowrap px-4 py-3',
                      // Se un link del dropdown è attivo, applica solo sottolineatura e grassetto
                      {
                        'font-bold underline': links.some((link) => link.href === currentPath),
                        'hover:underline': !links.some((link) => link.href === currentPath),
                      },
                    ]}
                  >
                    {text}
                    <Icon name="tabler:chevron-down" class="ml-0.5 hidden h-3.5 w-3.5 lg:inline rtl:ml-0 rtl:mr-0.5" />
                  </button>
                  <ul class="dropdown-menu dark:lg:bg-dark rounded pl-4 font-medium drop-shadow-xl lg:absolute lg:hidden lg:min-w-[200px] lg:bg-white/90 lg:pl-0 lg:backdrop-blur-md">
                    {links.map(({ text: text2, href: href2 }) => (
                      <li>
                        <a
                          class:list={[
                            'whitespace-no-wrap block px-5 py-2 first:rounded-t last:rounded-b',
                            // Solo il link attivo ha sfondo colorato, nessun hover
                            {
                              'bg-secondary text-white': href2 === currentPath,
                            },
                          ]}
                          href={href2}
                        >
                          {text2}
                        </a>
                      </li>
                    ))}
                  </ul>
                </>
              ) : (
                <a
                  class:list={[
                    'flex items-center whitespace-nowrap px-4 py-3',
                    {
                      'font-bold underline': href === currentPath,
                      'hover:underline': href !== currentPath,
                    },
                  ]}
                  href={href}
                >
                  {text}
                </a>
              )}
            </li>
          ))
        }
      </ul>
    </nav>
    <div
      class:list={[
        { 'ml-auto rtl:ml-0 rtl:mr-auto': position === 'left' },
        'fixed bottom-0 left-0 hidden w-full items-center justify-end p-3 lg:static lg:mb-0 lg:flex lg:w-auto lg:self-center lg:justify-self-end lg:p-0 rtl:left-auto rtl:right-0',
      ]}
    >
      <div class="flex w-full items-center justify-between lg:w-auto">
        <div class="flex items-center">
          {showToggleTheme && <ToggleTheme iconClass="w-6 h-6 lg:w-5 lg:h-5 lg:inline-block" />}
          {
            showRssFeed && (
              <a
                class="inline-flex items-center rounded-lg p-2.5 text-sm text-muted hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
                aria-label="RSS Feed"
                href={getAsset('/rss.xml')}
              >
                <Icon name="tabler:rss" class="h-5 w-5" />
              </a>
            )
          }

          <!-- Language Switcher Dropdown -->
          <div class="dropdown mx-2">
            <button
              type="button"
              class="flex items-center whitespace-nowrap rounded-lg p-2.5 text-sm text-muted hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
            >
              <span class="font-medium uppercase">{lang}</span>
              <Icon name="tabler:chevron-down" class="ml-0.5 h-3.5 w-3.5 rtl:ml-0 rtl:mr-0.5" />
            </button>
            <ul
              class="dropdown-menu dark:lg:bg-dark rounded font-medium drop-shadow-xl lg:absolute lg:hidden lg:min-w-[100px] lg:bg-white/90 lg:pl-0 lg:backdrop-blur-md"
            >
              <li class="text-sm">
                <a
                  class:list={[
                    'whitespace-no-wrap block px-5 py-2 first:rounded-t',
                    {
                      'bg-secondary text-white': lang === 'it',
                    },
                  ]}
                  href={switchToItUrl}
                >
                  IT
                </a>
              </li>
              <li>
                <a
                  class:list={[
                    'whitespace-no-wrap block px-5 py-2 last:rounded-b',
                    {
                      'bg-secondary text-white': lang === 'en',
                    },
                  ]}
                  href={switchToEnUrl}
                >
                  EN
                </a>
              </li>
            </ul>
          </div>
        </div>

        {
          actions?.length ? (
            <span class="ml-4 rtl:ml-0 rtl:mr-4">
              {actions.map((btnProps) => (
                <Button
                  variant="secondary"
                  {...btnProps}
                  class="px-5.5 ml-2 w-auto py-2.5 text-sm font-semibold shadow-none lg:px-6"
                />
              ))}
            </span>
          ) : (
            ''
          )
        }
      </div>
    </div>
  </div>
</header>
