---
import { Icon } from 'astro-icon/components';
import { twMerge } from 'tailwind-merge';
import WidgetWrapper from '../ui/WidgetWrapper.astro';

interface Props {
  quote: string;
  author: string;
  role?: string;
  rating?: number;
  source?: string;
  classes?: Record<string, string>;
  id?: string;
  isDark?: boolean;
  bg?: string;
}

const {
  quote,
  author,
  role = '',
  rating,
  source,
  classes = {},
  id,
  isDark = false,
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper
  id={id}
  isDark={isDark}
  containerClass={twMerge('relative px-4 py-20 mx-auto', classes?.container)}
  bg={bg}
>
  <div class="quote-content mx-auto max-w-4xl text-center">
    <!-- Quote text -->
    <p class="mb-6 px-4 text-lg font-light text-primary md:text-xl">
      {quote}
    </p>

    <!-- Attribution -->
    <div class="text-primary">
      <p class="font-light">
        ~{author}{
          role && (
            <span>
              , <span class="font-bold">{role}</span>
            </span>
          )
        }
      </p>
    </div>

    <!-- Rating if provided -->
    {
      rating && (
        <div class="mt-4 flex items-center justify-center gap-1">
          <div class="flex">
            {[...Array(5)].map((_, i) =>
              i < Math.floor(rating) ? (
                <Icon name="tabler:star-filled" class="size-5 text-primary" />
              ) : i < rating ? (
                <Icon name="tabler:star-half-filled" class="size-5 text-primary" />
              ) : (
                <Icon name="tabler:star" class="size-5 text-primary" />
              )
            )}
          </div>
          {rating && <span class="ml-2 font-bold text-primary">{rating}</span>}
          {source && <span class="ml-1 text-sm font-light text-secondary">({source})</span>}
        </div>
      )
    }
  </div>
</WidgetWrapper>

<style>
  .quote-content {
    position: relative;
  }

  .quote-content::before,
  .quote-content::after {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 8rem;
    line-height: 1;
    opacity: 0.3;
    color: var(--tw-text-opacity-primary);
    position: absolute;
  }

  .quote-content::before {
    content: '“';
    left: 0rem;
    top: -4rem;
  }

  .quote-content::after {
    content: '”';
    right: 0rem;
    bottom: -2rem;
  }
</style>
