---
import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';
import { getBlogPosts } from '~/utils/blogService';


export const prerender = false;

const url = new URL(Astro.request.url);
const currentPage = parseInt(url.searchParams.get('page') || '1');
const postsPerPage = 10;

const { posts, hasNextPage, hasPrevPage } = await getBlogPosts(postsPerPage, currentPage);

const metadata = {
  title: `Blog${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  robots: {
    index: currentPage === 1,
    follow: true,
  },
  openGraph: {
    type: 'blog',
  },
};

const pageData = {
  data: posts,
  currentPage,
  url: {
    prev: hasPrevPage ? (currentPage === 2 ? '/blog' : `/blog?page=${currentPage - 1}`) : undefined,
    next: hasNextPage ? `/blog?page=${currentPage + 1}` : undefined,
  }
};
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline
      subtitle="A dynamically generated blog with news, tutorials, resources and other interesting content from Firestore"
    >
      The Blog
    </Headline>
    <BlogList posts={pageData.data} />
    <Pagination prevUrl={pageData.url.prev} nextUrl={pageData.url.next} />
  </section>
</Layout>