---
// filepath: c:\Users\AndreaMauriello\Documents\GitHub\whoteach-website\src\pages\[...lang]\[...blog]\[tag]\[...page].astro
import type { GetStaticPaths, Page } from 'astro';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';

import { blogTagRobots, getStaticPathsBlogTag } from '~/utils/blog';
import type { Post } from '~/types';
import type { Lang } from '~/utils/i18n';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogTag({ paginate });
}) satisfies GetStaticPaths;

interface Props {
  page: Page<Post>;
  tag: {
    slug: string;
    title: string;
  };
}
const { page, tag } = Astro.props as unknown as Props;
const { lang } = Astro.params as { lang: Lang };

const currentPage = page.currentPage ?? 1;

const metadata = {
  title: `Posts tagged with ${tag.title}${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  robots: {
    index: blogTagRobots?.index && currentPage === 1,
    follow: blogTagRobots?.follow,
  },
};
---

<Layout metadata={metadata}>
  <section class="mx-auto max-w-6xl px-6 py-12 sm:px-6 sm:py-16 lg:py-20">
    <Headline>
      Tag: {tag.title}
      <span slot="subtitle">
        Explore all articles with the tag <strong>{tag.title}</strong>
      </span>
    </Headline>
    <BlogList posts={page.data} lang={lang} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
