---
import type { Page, GetStaticPaths } from 'astro';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';

import { blogCategoryRobots, getStaticPathsBlogCategory } from '~/utils/blog';
import type { Post } from '~/types';
import type { Lang } from '~/utils/i18n';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogCategory({ paginate });
}) satisfies GetStaticPaths;

interface Props {
  page: Page<Post>;
  category: {
    slug: string;
    title: string;
  };
}
const { page, category } = Astro.props as unknown as Props;
const { lang } = Astro.params as { lang: Lang };

const currentPage = page.currentPage ?? 1;

const metadata = {
  title: `Category: ${category.title}${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  robots: {
    index: blogCategoryRobots?.index && currentPage === 1,
    follow: blogCategoryRobots?.follow,
  },
};
---

<Layout metadata={metadata}>
  <section class="mx-auto max-w-6xl px-6 py-12 sm:px-6 sm:py-16 lg:py-12">
    <Headline>
      Category: {category.title}
      <span slot="subtitle">
        Explore articles in the <strong>{category.title}</strong> category
      </span>
    </Headline>
    <BlogList posts={page.data} lang={lang} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
